<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}No Orders{% endblock title %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center"> 
        <div class="col-md-8 text-center"> 
            <h1>Welcome, {{ name }}</h1>
            <h3>You have no orders yet !</h3>
            <div class="text-center">
                <img src="{% static 'images/no_cart.png' %}" class="img-fluid img-thumbnail" alt="No Cart Image">
            </div>
        </div>
    </div>
</div>

{% endblock %}

