<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
{% block title %}cart{% endblock title %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center"> <!-- Add justify-content-center to center the content -->
        <div class="col-md-8"> <!-- Add a column to specify the width of the content -->
            <div class="text-center">
                <img src="{% static 'images/empty_cart.png' %}" class = "img-fluid img-thumbnail border-0" width="450" height="200">
                <h3>Oops!</h3>
                <h3>Your cart is currently empty.</h3>
                </h1>Upgrade your style and vision with our<h1>
                </h1>eyewear. Explore and added to cart now!</h1>

            </div>
        </div>
    </div>
</div>

{% endblock %}
