<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Your Orders{% endblock title %}
{% block content %}
<div class="container">
    <h5>Welcome, {{ name }}</h5>
    <p>Total items in your cart: {{ total_item }}</p>
    <h2>Your Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Order Date</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% if order.image %}<img style="height: 70px;" class="square-bracket" src="{{ order.image.url }}">{% endif %}</td>
                <td>{{ order.product_name }}</td>
                <td>{{ order.ordered_date }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.qty }}</td>
                <td>{{ order.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
</div>
{% endblock %}
