<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
{% block titel %}Cart{% endblock titel %}
{% block content %}
<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">My Cart</p>
        <table class="table">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th></th>
                    <th>Action</th>
                    <th></th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in carts %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 100px;" class="square-bracket" src="{{cart.product.image.url}}" alt=""></td>
                    <td>{{cart.product.name}}</td>
                    <td>{{cart.quantity}}</td>
                    <td>Rs.{{cart.product.price}}</td>
                    
                    <td><a href="{% url 'minus_cart' cart.product.id %}" class="minus-cart btn btn-primary" >-</a></td>
                    <td><span id="quantity">{{cart.quantity}}</span></td>
                    <td><a href="{% url 'plus_cart' cart.product.id %}" class="plus-cart btn btn-primary" >+</a></td>
                    <td><a href="{% url 'remove_cart' cart.product.id %}" class="btn btn-danger btn-sm remove-cart" >Delete</a></td>
                </tr>
            </tbody>
              {% endfor %}
        </table>
        <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info border rounded col-lg-3 float-right">Check Out</a>
        </div>
  </div>
</div>
<!---Checkout--->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>        
          <div class="modal-body">
              <form action="/checkout" method="POST">
                  {% csrf_token %}
                  <div class="form-group mt-3">
                      <label for="name">Name</label>
                      <input required type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name">
                  </div>
                  <div class="form-group mt-3">
                      <label for="address">Shipping Address</label>
                      <input required type="text" name="address" id="address" class="form-control" placeholder="Enter Your Shipping Address">
                  </div>
                  <div class="form-group mt-3">
                      <label for="mobile">Mobile No.</label>
                      <input required type="text" name="mobile" id="mobile" class="form-control" placeholder="Enter Your Mobile No.">
                  </div>
                  <button type="submit" class="btn btn-outline-info border rounded col-lg-3 float-right mt-3">Make Payment</button>
              </form>
          </div>
      </div>
  </div>
</div>
<script>
    function updateCart(productId, action) {
        const quantitySpan = document.querySelector(`#quantity_${productId}`);
        let quantity = parseInt(quantitySpan.innerText);

        if (action === 'plus') {
            quantity++;
        } else if (action === 'minus' && quantity > 1) {
            quantity--;
        }

        quantitySpan.innerText = quantity;
    }
</script>
{% endblock %}