<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
{% block titel %}Cart{% endblock titel %}
{% block content %}
<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">My Cart</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>image</th>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>price</th>
                    <th></th>
                    <th>Action</th>
                    <th></th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in carts %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 70px;" src="{{cart.product.image.url}}" alt="{{cart.product.image.url}}"></td>
                    <td>{{cart.product.name}}</td>
                    <td>{{cart.quantity}}</td>
                    <td>Rs.{{cart.product.price}}</td>
                    
                    <td><a href="{% url 'minus_cart' cart.product.id %}" class="minus-cart btn btn-primary" >-</a></td>
                    <td><span id="quantity">{{cart.quantity}}</span></td>
                    <td><a href="{% url 'plus_cart' cart.product.id %}" class="plus-cart btn btn-primary" >+</a></td>
                    <td><a href="{% url 'remove_cart' cart.product.id %}" class="btn btn-danger btn-sm remove-cart" >Delete</a></td>
                </tr>
            </tbody>
                {% endfor %}
        </table>
        <hr>
        <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info border rounded col-lg-3 float-right">Check Out</a>
        </div>
    </div>
</div>

<!---Checkout--->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Checkout</h1>
        </div>
        <div class="modal-body">
          <form action="/checkout" method="POST">
            {% csrf_token %}
            <div class="form-group mt-3">
              <label for="name">Name</label>
              <input required type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name">
            </div>
            <div class="form-group mt-3">
              <label for="address">Shipping Address</label>
              <input required type="text" name="address" id="address" class="form-control" placeholder="Enter Your Shipping Address">
            </div>
            <div class="form-group mt-3">
              <label for="mobile">Mobile No.</label>
              <input required type="text" name="mobile" id="mobile" class="form-control" placeholder="Enter Your Mobile No.">
            </div>
            <input type="submit" class="btn btn-outline-info border rounded col-lg-6 mx-auto mt-2" value="Make Payment">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger border rounded col-lg-6 mx-auto mt-2"  data-bs-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}